* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
}

/*NAVBAR SECTION*/

nav {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}

nav .mainMenu li a:hover {
  background: rgb(200, 0, 0);
}

nav .mainMenu li {
  margin: 0px 20px;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu,
.icons i {
  font-size: 2rem;
  /*display: none;*/
  cursor: pointer;
  display: flex;
}

nav .closeMenu {
  display: none;
}

nav .icons i {
  display: inline-block;
  padding: 10px;
}

.fa-twitter:hover {
  color: rgb(86, 154, 243);
}

.fa-instagram:hover {
  color: rgb(255, 0, 191);
}

.fa-discord:hover {
  color: rgb(147, 112, 219);
}

nav .logo {
  margin: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.logo2 {
  float: right;
  text-decoration: none;
  padding: 15px;
  color: white;
  font-size: 1.2rem;
}

.logo2:hover {
  color: rgb(200, 0, 0);
}

/*HOME SECTION*/
.content {
  height: 100vh;
  width: 100%;
  background-image: url(./images/sfondi2.jpg);
  background-repeat: no-repeat;
  /*background-position: bottom;*/
  display: flex;
  justify-content: right;
}

.explain {
  border: 1px solid red;
  background: black;
  opacity: 0.7;
  border-radius: 20px;
  padding: 20px 20px;
  margin-top: 150px;
  height: 280px;
  width: 500px;
  margin-right: 50px;
  /*position: absolute;
  margin-left: 800px;
  margin-right: 50px;*/
}

.explain h3 {
  padding: 5px 0px 20px 0px;
  color: white;
}

.explain p {
  color: white;
}

.content-hidden {
  background-color: black;
}

.explain-hidden {
  display: none;
}

.explain-hidden h3 {
  padding: 5px 0px 20px 0px;
  color: white;
}

.explain-hidden p {
  color: white;
}

/*MEET THE TEAM*/
.meet-team {
  background-color: rgb(139, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.titolo {
  padding: 5px 5px;
  text-align: center;
  font-size: 50px;
}

.show-team {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 200px;
  margin: 10px;
}

.show-team2 {
  /*display: grid;
  grid-template-columns: 1fr 1fr;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 350px;
}

.team-card {
  width: 100%;
  padding: 50px 10px;
  margin: 15px;
  border-radius: 4px;
  border: 5px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card img {
  align-items: center;
}

.team-card h1 {
  padding: 5px 5px;
}

.team-card h4 {
  padding: 5px 5px;
}

.team-card p {
  height: 30px;
  padding: 0px 20px;
  margin: 30px;
  font-size: 10px;
}

.fpf {
  align-items: center;
  padding: 5px 5px;
  /*border-radius: 100px;
  border: 2px solid yellow;*/
}

.fpf img {
  border-radius: 50%;
}

footer {
  min-height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  color: white;
  margin: 20px;
}

.icone {
  margin: 20px;
  color: white;
}

.icone i {
  height: 32px;
  width: 32px;
}

@media (max-width: 1300px) {
  .show-team {
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr;*/
  }

  .show-team2 {
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr;*/
  }
}

/*MOBILE VIEW*/

@media (max-width: 910px) {

  /*NAVBAR SECTION*/
  nav {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    display: flex;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: -1000px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1.2s ease 0s;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: rgb(200, 0, 0);
  }

  nav .mainMenu li {
    margin: 0px;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }

  /*HOME SECTION*/

  .content .explain {
    display: none;
  }

  .explain-hidden {
    display: block;
    padding: 50px 100px;
  }

  /*MEET THE TEAM*/
  .show-team {
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr;*/
  }

  .show-team2 {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr;*/
  }
}